.form{
    width:50%;
    background-color:#333;
    padding:0.5rem;
    border-radius:0.6rem;
    margin-bottom: 0.5rem;
}
.form-field{
    margin:1rem 0;
    display:flex;
    color:white;
}
.form-field label{
    flex-basis: 20%;
}
.form-field input{
    flex-basis: 80%;
    padding:0.4rem;
    border-radius:0.4rem;
    border:none;
    outline:none;
}
.form-field textarea{
    flex-basis: 80%;
    padding:0.4rem;
    border-radius:0.4rem;
    border:none;
    outline:none;
    resize: vertical;
}
.form button{
    padding:0.5rem 1rem;
    border-radius:0.4rem;
    border:none;
    background-color:#555;
    color:white;
    cursor: pointer;
}
.form button:hover{
    background-color:orangered;
  
}