.todo{
    background-attachment:#222;
    margin:0.5rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5 rem;
}
.todo:hover{
    background-color: #444;
}
.todo p{
    opacity:0.6;
    

}
.btn{
    background-color: transparent;
    border:none;
    color:red;
    cursor: pointer;

}